
a.action.locked{ display:none !important; }

a.action-getstate_w2g.locked{ display:inline !important; }

a.statelock a.action[data-action!=getstate_dir&&data-action!=getstate_file]{
pointer-events:none;
}
a.namelock
{
line-height: 50px;
padding: 0 !important;
}
a.namelock .nametext{position:absolute !important;}

td.statelock:focus{pointer-events:none;}

a.action-getstate_w2g{ cursor:pointer !important;}

a.name.statelock a.action{ color:#eee; opacity:1 !important; }

a.name.statelock a.action:hover, a.name.statelock span.extension{ color:#fff; }

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{ opacity:1.0;}

table td.filename a.namelock {
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0;
}
.has-favorites #fileList td.filename a.namelock {
        left: 50px;
        margin-right: 50px;
}

